<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="documents" appConnect="local" components="{dmxDataTraversal:{},dmxStateManagement:{},dmxBootstrap5TableGenerator:{}}" -->
<meta name="ac:route" content="/documents">
<dmx-query-manager id="qm"></dmx-query-manager>
<dmx-serverconnect id="scDocuments" dmx-param:offset="content.qm.data.offset" dmx-param:limit="10000" dmx-param:sort="content.qm.data.sort" dmx-param:dir="content.qm.data.dir" dmx-on:success="varTitle.setValue('Documents')" url="/api/Documents/Document"></dmx-serverconnect>
<dmx-data-view id="dvDocuments" dmx-bind:data="content.scDocuments.data.query.data" filter="(created_at.lowercase().contains(Search.searchinput.value.lowercase())||document_id.lowercase().contains(Search.searchinput.value.lowercase())||document_name.lowercase().contains(Search.searchinput.value.lowercase())||member_id.lowercase().contains(Search.searchinput.value.lowercase())||first_name.lowercase().contains(Search.searchinput.value.lowercase())||doc_type.lowercase().contains(Search.searchinput.value.lowercase())||last_name.lowercase().contains(Search.searchinput.value.lowercase()))"></dmx-data-view>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th class="sorting" dmx-on:click="qm.set('sort','$index+1');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='$index+1' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='$index+1' && qm.data.dir == 'desc'">Sl. No.</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','document_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='document_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='document_name' && qm.data.dir == 'desc'">Document Name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','doc_type');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='doc_type' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='doc_type' && qm.data.dir == 'desc'">Type</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','first_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='first_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='first_name' && qm.data.dir == 'desc'">First Name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','last_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='last_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='last_name' && qm.data.dir == 'desc'">Last Name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','created_at');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='created_at' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='created_at' && qm.data.dir == 'desc'">Created At</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','document_location');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='document_location' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='document_location' && qm.data.dir == 'desc'">Document location</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dvDocuments.data" id="tableRepeat1" dmx-state="qm" dmx-sort="sort" dmx-order="dir">
                <tr>
                    <td dmx-text="$index+1"></td>
                    <td dmx-text="document_name"></td>
                    <td dmx-text="doc_type"></td>
                    <td dmx-text="first_name"></td>
                    <td dmx-text="last_name"></td>
                    <td dmx-text="created_at.formatDate('yyyy-MMM-dd hh:mm A')"></td>
                    <td><a href="#" dmx-bind:href="document_location" target="_blank"><img src="/assets/images/pdf.jpg" width="20"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>