<!-- Wappler include head-page="layouts/main" is="dmx-app" id="jsorders" appConnect="local" components="{dmxStateManagement:{},dmxDataTraversal:{},dmxBootstrap5TableGenerator:{}}" bootstrap5="local" fontawesome_5="cdn" -->
<meta name="ac:route" content="/js-orders">
<dmx-query-manager id="qm"></dmx-query-manager>
<dmx-serverconnect id="scJSOrders" url="/api/Orders/JSOrders" dmx-param:offset="content.qm.data.offset" dmx-param:limit="content.qm.data.limit" dmx-param:sort="content.qm.data.sort" dmx-param:dir="content.qm.data.dir" dmx-on:success="varTitle.setValue('JS Orders')"></dmx-serverconnect>
<dmx-data-view id="dvJSOrders" dmx-bind:data="content.scJSOrders.data.JsOrders.data" filter="(first_name.lowercase().contains(Search.searchinput.value.lowercase())||last_name.lowercase().contains(Search.searchinput.value.lowercase())||perk_name.lowercase().contains(Search.searchinput.value.lowercase())||mfs_order_id.lowercase().contains(Search.searchinput.value.lowercase())||hubspot_order_id.lowercase().contains(Search.searchinput.value.lowercase())||payment_method.lowercase().contains(Search.searchinput.value.lowercase())||order_currency.lowercase().contains(Search.searchinput.value.lowercase())||payment_status.lowercase().contains(Search.searchinput.value.lowercase())||order_note.lowercase().contains(Search.searchinput.value.lowercase())||tags.lowercase().contains(Search.searchinput.value.lowercase()))"></dmx-data-view>
<div class="col">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','created_at');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='created_at' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='created_at' && qm.data.dir == 'desc'">Created at</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','first_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='first_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='first_name' && qm.data.dir == 'desc'">First name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','last_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='last_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='last_name' && qm.data.dir == 'desc'">Last name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','perk_name');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='perk_name' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='perk_name' && qm.data.dir == 'desc'">Perk name</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','mfs_order_id');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='mfs_order_id' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='mfs_order_id' && qm.data.dir == 'desc'">Mfs order</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','hubspot_order_id');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='hubspot_order_id' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='hubspot_order_id' && qm.data.dir == 'desc'">Hubspot order</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','order_total');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='order_total' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='order_total' && qm.data.dir == 'desc'">Order total</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','discount_total');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='discount_total' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='discount_total' && qm.data.dir == 'desc'">Discount total</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','refunded_total');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='refunded_total' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='refunded_total' && qm.data.dir == 'desc'">Refunded total</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','order_currency');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='order_currency' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='order_currency' && qm.data.dir == 'desc'">Order currency</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','payment_method');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='payment_method' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='payment_method' && qm.data.dir == 'desc'">Payment method</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','payment_status');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='payment_status' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='payment_status' && qm.data.dir == 'desc'">Payment status</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','order_note');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='order_note' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='order_note' && qm.data.dir == 'desc'">Order note</th>
                    <th class="sorting" dmx-on:click="qm.set('sort','tags');qm.set('dir',qm.data.dir == 'desc' ? 'asc' : 'desc')" dmx-class:sorting_asc="qm.data.sort=='tags' && qm.data.dir == 'asc'" dmx-class:sorting_desc="qm.data.sort=='tags' && qm.data.dir == 'desc'">Tags</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dvJSOrders.data" id="tableRepeat1" dmx-state="qm" dmx-sort="sort" dmx-order="dir">
                <tr>
                    <td dmx-text="$index+1"></td>
                    <td dmx-text="created_at.formatDate('yyyy-MMM-dd hh:mm A')"></td>
                    <td dmx-text="first_name"></td>
                    <td dmx-text="last_name"></td>
                    <td dmx-text="perk_name"></td>
                    <td dmx-text="mfs_order_id"></td>
                    <td dmx-text="hubspot_order_id"></td>
                    <td dmx-text="order_total"></td>
                    <td dmx-text="discount_total"></td>
                    <td dmx-text="refunded_total"></td>
                    <td dmx-text="order_currency"></td>
                    <td dmx-text="payment_method"></td>
                    <td class="text-center"><b class="text-black p-1" dmx-class:bg-success="(payment_status=='completed')" dmx-class:bg-info-dark="(payment_status=='processing')" dmx-class:bg-danger="(payment_status=='failed')" style="border-radius: 10px;">{{payment_status}}</b></td>
                    <td dmx-text="order_note"></td>
                    <td dmx-text="tags"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>